

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (max-width: 1055px){
    .additional{
        display: none;
    }

    .d-xl-block{
        display: none;
    }
}

@media (min-width: 1700px){
    .container{
        max-width: 1800px;
        background: red;
    }
}

.show {
    width: 200px;
    height: 200px;
    position: absolute;
    transform: rotateY(0deg);
    transition: transform 1s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    visibility: visible;
}

.hide {
    position: absolute;
    width: 200px;
    height: 200px;
    
    transition: transform 1s;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card{
    width: 200px;
    height: 200px;
}

.col{
    padding: 1px;
    flex-grow: 0;
    flex-basis: 200px;
    width: 200px;
    height: 200px;
    margin: 5px;
    perspective: 1000px
}

.row{
    align-content: center;
    padding: 3px;
    justify-content: center;
    display: flex;

}

.additional {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: orangered;
}

.d-xl-block {
    padding: 1px;
    flex-grow: 0;
    flex-basis: 200px;
    width: 200px;
    height: 200px;
    margin: 5px;
    perspective: 1000px
}

.container{
    max-width: 1200px;
    background-color: currentColor;
}

.body {
    justify-content: center;
    align-items: center;
    display: flex;
}