
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.show {
    width: 200px;
    height: 200px;
    z-index: 1;
    
}

.hide {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: -1;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    

}

.card{
    width: 200px;
    height: 200px;
}

.col{
    padding: 1px;
    flex-grow: 0;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.row{
    align-content: center;
    padding: 3px;
    justify-content: center;
    display: flex;

}

.container{
    max-width: 1250px;
}

.body {
    justify-content: center;
    align-items: center;
    display: flex;
}