
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.show {
    width: 200px;
    height: 200px;
    position: absolute;
    transform: rotateY(0deg);
    transition: transform 1s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    
}

.hide {
    position: absolute;
    width: 200px;
    height: 200px;
    
    transition: transform 1s;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    

}

.card{
    width: 200px;
    height: 200px;
}

.col{
    padding: 1px;
    flex-grow: 0;
    flex-basis: 200px;
    width: 200px;
    height: 200px;
    margin: 1px;
}

.row{
    align-content: center;
    padding: 3px;
    justify-content: center;
    display: flex;

}

.container{
    max-width: 1250px;
}

.body {
    justify-content: center;
    align-items: center;
    display: flex;
}